
.text-left {
    text-align: left;
}

#main-section .employers-section-promotion_1 {
	text-align: center;
	padding: 60px 0;
}

.empsp--container {
	margin-top: 25px !important;
}

.empsp-sets {
	max-width: 222px;
	width: 100%;
	position: relative;
	display: inline-block;
	padding-top: 50px !important;
	margin: 0 5px !important;
}

.empsp-icon {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 15px;
}

.empsp-circle {
    width: 222px;
    height: 222px;
    border-radius: 50% !important;
    border: 2px solid #363636 !important;
    text-align: center !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 85px 30px 0!important;
}

.empsp-sets h4 {
    font-size: 24px;
    color: #363636;
}

.empsp-sets.blank {
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: bottom !important;
}

.empsp-sets.blank .empsp-icon {
    top: -120px;
}

.empsp-sets.blank .empsp-circle {
	padding: 0 0 0 !important;
    border: none !important;
    height: auto !important;
}

.empsp-learn-more {
    background-color: #fff;
    border: 1px solid #363636 !important;
    padding: 10px 30px !important;
    display: inline-block;
    margin-top: 35px !important;
    position: relative;
    font-weight: bold;
}

.empsp-learn-more:before {
    content: " ";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: -4px;
    border-bottom: 3px solid #686868;
}

#main-section .employers-section-promotion_2 {
	text-align: center;
	padding: 60px 0;
	background: url( '../../../uploads/2017/02/rating-bg.jpg' ) no-repeat center;
    background-size: cover;
}

#main-section .employers-section-promotion_2 .section-title--variant_1 {
	color: #fff !important;
    margin-bottom: 25px;
}


.simple-form input[type=text],
.simple-form input[type=email],
.simple-form textarea {
    background: #f0eef0;
    font: 700 14px/22px 'Open Sans';
    border: 1px solid #ececec;
    border-radius: 3px;
    display: block;
    width: 100%;
    box-shadow: none;
    padding: 10px 15px !important;
}

.simple-form .btn-panel input[type=submit] {
    display: block;
    width: 160px;
    margin: 0 auto;
    font: 700 18px/26px 'Open Sans';
    text-align: center;
    color: #fff;
    padding: 15px 0;
    border-radius: 3px;
    background: #ea1a23;
}

.simple-form .wpcf7-not-valid-tip {
    font: italic 12px/20px 'Open Sans';
    display: block;
    text-align: left;
    color: #ea1a23;
}


/*________________________ =COMPANY PROFILE PAGE ________________________*/

.cp--flex-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.cp--flex_set {
    width: 29%;
    margin: 0 1%;
}

.cp--flex-image {
    height: 200px;
    max-width: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-color: #fff;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    display: inline-block;
    margin-bottom: 15px;
}

.cp--flex-title {
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 21px;
}

.cp--edit_banner {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
}

.cp--edit_banner i {
    margin-right: 5px;
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
}

#c-profile--main_banner {
    height: 475px;
    background-color: #e3e3e3;
    background-image: url('../../../uploads/2017/02/testprofilebg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
    #c-profile--main_banner .cp--name {
        font-size: 50px;
        color: #fff;
        font-weight: 300;
    }

.oc--section_titles {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 40px;
}

#c-profile--about_us {
    padding: 60px 0;
}
    .cp--about_pic {
        height: 330px;
        width: 330px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        border-radius: 50%;
        border-width: 8px;
        border-style: solid;
    }

#c-profile--about_us .flex-h-middle {
    height: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#c-profile--our_services {
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

#c-profile--team_members {
    padding: 60px 0;
    text-align: center;
}

#c-profile--testimonials .btsp-container {
    padding: 50px 0;
    border-top: 4px solid #8d9f31;
}


.cp--testi_set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

    .cp--testi_image {
        height: 250px;
        max-width: 250px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        border-color: #fff;
        border-radius: 50%;
        border-width: 8px;
        border-style: solid;
        display: inline-block;
        margin-bottom: 15px;
    }

    .cp--testi_desc {
        max-width: 750px;
        width: 100%;
    }

    .cp--testi_desc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

.cp--testi_slider .slick-dots {
    text-align: center;
}

.cp--testi_slider .slick-dots li {
    display: inline-block;
}

.cp--testi_slider .slick-dots li button {
    cursor: pointer;
    padding: 7px;
    margin: 0 9px;
    font-size: 0;
    border-radius: 50%;
}

.cp--testi_slider .slick-dots .slick-active button {
    background-color: #fff;
    border: 2px solid #9a9a9a;
}


/* =PARTNERS */
#c-profile--partners {
    background-color: #f2edea;
    padding: 40px 0;
    text-align: center;
}

#c-profile--partners img {
    margin: 0 20px;
}

/* =CONTACT US */
#c-profile--contact_us {
    padding: 60px 0 80px;
    text-align: center;
}

#c-profile--contact_us iframe {
    margin-bottom: 20px;
}


.flex-5-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.flex-5-con > div {
    width: 160px;
}